.match-information-grid-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding-left: 20px;
}

.match-information-grid-item {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(50, 50, 50, 0.2);
    padding: 5px;
    text-align: center;
}

.match-information-grid-item input {
    width: 100%;
    margin-left: -5px;
}

#error-banner {
    width: 98%;
    background-color: red;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 12px;
    display: none;
}

.container {
    margin-top: 1%;
}

#footer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    height: 5%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding-top: 1%;
    padding-bottom: 2%;
}

.auto-thumbnail-button {
    width: 25%;
}

.closeup-view {
    display: none;
}

#footer button {
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.0);
    font-size: 30px;
    outline: none;
}